<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @category.creation %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @category.modified %>
</p>

<p>
  <strong>Rgb:</strong>
  <%= @category.rgb %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
